*{
    font-family: 'IBM Plex Sans', sans-serif;
}
/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: grey; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: lightslategrey; 
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw
}

#header{
    background-color: blue;
    margin: 0;
    padding: 5px 40px;
    font-size: 15px;
    color: white;
}

#main{
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px);
    width: 97vw;
}

#table-holder{
    overflow-y: scroll;
    overflow-x: scroll;
    display: flex;
    justify-content: center;
    max-width: fit-content;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
table{
    padding-top: 20px;
    border-spacing: 0;
}
td{
    padding: 5px;
    border-bottom: 1px solid grey;
}
#calculator{
    flex: 3;
    height: 100%;
}